{% extends 'base.html' %}

{% block title %}Feedback{% endblock %}

{% block content %}
<div class="container">
  <h1>Feedback</h1>
  <p class="lead">Submit your feedback below:</p>

  <form method="POST">
    {{form.hidden_tag()}}
    <div class="row"> 
      <div class="col-md-8">
        {% for field in form
          if field.widget.input_type != 'hidden' %}
        <div class="form-group">  
          {{field.label}}
          {{field(class_="form-control")}}

          {% for error in field.errors %}
          <span class="form-text text-danger">{{ error }}</span>
          {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-info">Submit</button>
        <button type="cancel" class="btn btn-light" formaction="/users/{{user.username}}" formmethod="GET">Cancel</button>
      </div>
    </div> 
  </form>
</div>
{% endblock %}